@model lab1mvc.Models.Course

<h2>Edit Course</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    @Html.Partial("_CourseFormPartial", Model)
    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>
