<form action="/Student/AddNew">
    <div class="mb-3">
        <label>Name</label>
        <input name="Name" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Age</label>
        <input name="Age" type="number" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input name="Email" type="email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>image</label>
        <input name="Image" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Address</label>
        <input name="Address" type="text" class="form-control" />
    </div>
    <button type="submit">Add Student</button>
</form>
