
<footer class="footer bg-dark text-light py-3 mt-auto">
    <div class="container text-center">
        <p class="mb-1">
            &copy; @DateTime.Now.Year <strong class="text-success">My MVC Project</strong> | All Rights Reserved
        </p>
        <small class="text-secondary">
            Made by <strong>Hamza Algohary</strong>
        </small>
    </div>
</footer>




















<style>
    /* Force footer to bottom */
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .footer {
        margin-top: auto;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    }

        .footer strong {
            color: #00ff99;
        }
</style>
